<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= include_assets_async %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'home', home_path %>
<%= link_to 'other', other_path %>

<%= yield %>

<%= load_css 'application.css' %>
<%= load_js 'application.js' %>
</body>
</html>
